<ngx-loading-bar [includeSpinner]='false'></ngx-loading-bar>
<app-page-header [heading]="'Lista de Trabajadores'" [icon]="'fa-users'"></app-page-header>
<h3 class="pull-left" *ngIf="fabrica !== undefined">Fabrica: {{ fabrica.nombre }}</h3>
<a [routerLink]="['/trabajadores/asistencia', fabrica_id]" *ngIf="fabrica !== undefined && trabajadores != undefined && trabajadores.length != 0" class="btn btn-info pull-right"><i class="fa fa-calendar"></i> Registrar Asistencia</a>&nbsp;
<hr class="mt-4">
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline jumbotron p-2" [formGroup]="formGroup" (ngSubmit)="saveTrabajador(formGroup.value)">
            <label class="sr-only" for="first_name">Nombre</label>
            <input placeholder="Nombre" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="first_name"
                   name="first_name" formControlName="first_name"/>

            <label class="sr-only" for="last_name">Apellidos</label>
            <input placeholder="Apellidos" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="last_name"
                   name="last_name" formControlName="last_name"/>

            <label class="sr-only" for="ci">C.I</label>
            <input placeholder="C.I" type="number" maxlength="11" class="form-control mb-2 mr-sm-2 mb-sm-0"
                   id="ci" name="ci" formControlName="ci"/>

            <input type="hidden" name="id" formControlName="id">

            <label class="sr-only" for="salario_x_dia">Salario</label>
            <input placeholder="Salario" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
                   id="salario_x_dia" name="salario_x_dia" formControlName="salario_x_dia"/>

            <select class="form-control mb-2 mr-sm-2 mb-sm-0" *ngIf="fabrica === undefined" id="fabrica_id"
                    name="fabrica_id" formControlName="fabrica_id" class="form-control">
                <option *ngFor="let fab of fabricas" value="{{ fab.id }}">{{ fab.nombre }}</option>
            </select>
            <input *ngIf="fabrica !== undefined" type="hidden" name="fabrica_id" formControlName="fabrica_id">


            <button type="submit" class="btn btn-primary ml-2">+Trabajador</button>&nbsp;
            <button *ngIf="editMode" (click)="cancelarEdicion()" type="button" class="btn btn-secundary">Cancelar
            </button>
        </form>
    </div>
    <div class="col-sm-12">
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell [ngClass]="'flex-5'" *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
                    <mat-cell [ngClass]="'flex-5'" *matCellDef="let row"> {{row.id}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="first_name">
                    <mat-header-cell [ngClass]="'flex-15'" *matHeaderCellDef mat-sort-header> Nombre
                    </mat-header-cell>
                    <mat-cell [ngClass]="'flex-15'" *matCellDef="let row"> {{row.first_name}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="last_name">
                    <mat-header-cell [ngClass]="'flex-15'" *matHeaderCellDef mat-sort-header> Apellidos
                    </mat-header-cell>
                    <mat-cell [ngClass]="'flex-15'" *matCellDef="let row"> {{row.last_name}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="ci">
                    <mat-header-cell [ngClass]="'flex-15'" *matHeaderCellDef mat-sort-header> C.I
                    </mat-header-cell>
                    <mat-cell [ngClass]="'flex-15'" *matCellDef="let row"> {{row.ci}}</mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="salario_x_dia">
                    <mat-header-cell [ngClass]="'flex-5'" *matHeaderCellDef mat-sort-header> Salario
                    </mat-header-cell>
                    <mat-cell [ngClass]="'flex-5'" *matCellDef="let row"> {{row.salario_x_dia}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell [ngClass]="'flex-55'" *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell [ngClass]="'flex-55'" *matCellDef="let row">
                        <div class="btn-group">
                            <button (click)="openCalendar(content, row.id)" class="btn btn-xs btn-info"><i class="fa fa-calendar"></i>
                                Ver Calendario
                            </button> &nbsp;&nbsp;
                            <button (click)="editarTrabajador(row.id)" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Editar
                            </button>
                            <button (click)="deleteTrabajador(row.id)" class="btn btn-xs btn-danger btn-remove"
                                    type="button"><i class="fa fa-trash"></i> Eliminar
                            </button>
                        </div>

                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Calendario de Asistencias</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="col-sm-8 pull-left">
                <app-calendario [events]="events" (clickDay)="changeDate($event)" (beforeView)="beforeViewRender($event)" ></app-calendario>
            </div>
            <div class="col-sm-4 pull-right">
                <div *ngIf="dayClickeado == null" class="alert alert-info">
                    <p>Click en el dia para modificar o adicionar un registro</p>
                </div>
                <div *ngIf="dayClickeado != null" class="alert alert-info">
                    <h3>{{ current_trabajador.first_name }}</h3>
                    <h4>{{ current_trabajador.last_name }}</h4>
                    <hr>
                    <h5>{{ dayClickeado.day.date | date : 'd MMMM yyyy' }}</h5>
                    <form class="form p-2" [formGroup]="formAsist" (ngSubmit)="saveHorario(formAsist.value)">
                        <label>Horas Trabajadas</label>
                        <select formControlName="horas_trabajadas" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                        </select>
                        <input formControlName="id" type="hidden">
                        <input formControlName="trab_id" type="hidden">
                        <input formControlName="fecha" type="hidden">
                        <hr>
                        <button type="submit" class="btn btn-primary">Guardar Horas</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
