<ngx-loading-bar [includeSpinner]='false'></ngx-loading-bar>
<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Estatidísticas</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <app-stat [url]="'/fabricas'" [bgClass]="'primary'" [icon]="'fa-building'" [count]="cantidad_fabricas" [label]="'Fabricas'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [url]="'/trabajadores'" [bgClass]="'warning'" [icon]="'fa-users'" [count]="cantidad_trabajadores" [label]="'Trabajadores'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [url]="'/nomina'" [bgClass]="'success'" [icon]="'fa-file-excel-o'" [count]="0" [label]="'Nominas'" ></app-stat>
        </div>
        <!-- <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div> -->
    </div>
</div>
